main {
  height: calc(100vh - var(--header-height) - 0.5rem);
}

.banner {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.banner__item {
  position: relative;
  width: 10%;
  height: 10%;
}

.banner__item::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.banner__item__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

  box-sizing: border-box;
}

.banner__item__img--outer {
  border: 1px solid black;
  border-radius: 50%;
  padding: 1rem;
  margin-top: 30%;
  box-shadow: 0 0 0.5rem 0.2rem black;
}

.banner__item__flex {
  height: calc(100vh - var(--header-height) - 0.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.banner__item__flex__img {
  margin: 0;
  height: 20vw;
}

.banner__item__flex__templay {
  margin: 0;
  font-size: 4rem;
}

.banner__item__flex__welcome {
  margin: 0;
  width: 60vw;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
}

.banner__item__flex__desc {
  width: 60vw;
  font-size: 2rem;
  text-align: center;
}

.banner__item__flex__arrow {
  margin-bottom: 5vh;
  transform: rotate(-90deg);
}
