.footer {
  width: 100%;
  height: var(--footer-height);
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
}

.footer__content {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__content__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__content__text {
  width: 30%;
  font-size: 8vh;
  font-weight: 600;
  display: flex;
}

.footer__content__text--left {
  justify-content: flex-end;
}

.footer__content__text--right {
  justify-content: flex-start;
}

.footer__content__link {
  width: 30%;
  display: flex;
  justify-items: center;
  align-items: center;
}

.footer__content__link__discord {
  height: var(--footer-height);
}
