@import './../main.css';

.main-header {
  background: var(--primary-bg-color);
  color: var(--primary-font-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5em;
}

.logo-container {
  background: white;
  width: 15%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5em;
  margin-right: 1em;
}

.title {
  font-family: var(--secondary-font-family);
  font-weight: 10;
  font-size: 1.9rem;
  letter-spacing: 0.04em;
}

.title__first {
  color: var(--secondary-font-color);
}

.hammenu-container {
  width: 10%;
  margin-left: auto;
  margin-right: 0.5em;
}
