<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Najlepší herný portál!">

    <link rel="icon" href="assets/svgs/helmet.svg">

	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">

	<link rel="stylesheet" type="text/css" href="css/styles/header.css">
	<link rel="stylesheet" type="text/css" href="css/styles/banner.css">

    <title>Home | Templay</title>
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <img class="logo__img" src="./assets/svgs/helmet.svg" alt="Helmet">
            <span class="logo__text">TEMPLAY</span>
        </div>
        <nav class="header__nav">
            <ul class="nav__main-nav">
                <li class="main-nav__item">
                    <a class="main-nav__item__link main-nav__item__link--selected" href="#">Úvod</a>
                </li>
                <li class="main-nav__item">
                    <a class="main-nav__item__link" href="#">Servery</a>
                </li>
                <li class="main-nav__item">
                    <a class="main-nav__item__link" href="#">Rád / Tím</a>
                </li>
                <li class="main-nav__item">
                    <a class="main-nav__item__link" href="#">Nákup produktov</a>
                </li>
                <li class="main-nav__item">
                    <a class="main-nav__item__link" href="#">Fórum</a>
                </li>
                <li class="main-nav__item">
                    <a class="main-nav__item__link" href="#">Banlist</a>
                </li>
            </ul>
        </nav>
        <div class="header__login">Login/Register</div>
    </header>
    <main>
        <div class="banner">
            <div class="banner__item banner__item--outer">
                <img class="banner__item__img banner__item__img--outer" src="./assets/svgs/templar.svg" alt="Logo">
            </div>
            <div class="banner__item__flex">
                <img class="banner__item__flex__img" src="./assets/svgs/helmet.svg" alt="Logo">
                <p class="banner__item__flex__templay">TEMPLAY</p>
                <p class="banner__item__flex__welcome">Vitajte na našom hernom CS:GO Portáli!</p>
                <p class="banner__item__flex__desc">Udržujeme priateľskú komunitu a netolerujeme toxickú atmosféru *(niečo v tom zmysle)*</p>
                <a class="banner__item__flex__arrow" href="#"><img src="./assets/svgs/arrow.svg" alt="Dropdown"></a>
            </div>
            <div class="banner__item banner__item--outer"  src="./assets/svgs/templar.svg" alt="Logo">
                <img class="banner__item__img banner__item__img--outer" src="./assets/svgs/templar.svg" alt="Logo">
            </div>
        </div>
    </main>
</body>
</html>