<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/main.css" />

    <link rel="stylesheet" href="css/styles/header.css" />
    <link rel="stylesheet" href="css/styles/navigation.css" />
    <link rel="stylesheet" href="css/styles/welcome.css" />
    <link rel="stylesheet" href="css/styles/footer.css" />

    <title>TemPLAY</title>

    <script src="index.js"></script>
</head>
<body>
    <header class="main-header">
        <a class="logo-container" href="#">
            <img src="assets/svgs/helmet.svg" alt="Helmet logo" />
        </a>
        <h1 class="header-title"><span class="header-title__first">Tem</span>play</h1>
        <div onclick="myFunction()" class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </header>

    <nav class="navigation">
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>

        <ul class="primary-nav">
            <li class="primary-nav__item">
                <a class="primary-nav__item__link" href="#">
                    <div>
                        <img class="primary-nav__item__logo primary-nav__item__logo--selected" src="./assets/svgs/home.svg" alt="Home" />
                    </div>
                    <h2 class="primary-nav__item__title primary-nav__item__title--selected">Home</h2>
                </a>
            </li>
            <li class="primary-nav__item">
                <a class="primary-nav__item__link" href="#">
                    <div>
                        <img class="primary-nav__item__logo" src="./assets/svgs/servers.svg" alt="Servers" />
                    </div>
                    <h2 class="primary-nav__item__title">Servers</h2>
                </a>
            </li>
            <li class="primary-nav__item">
                <a class="primary-nav__item__link" href="#">
                    <div>
                        <img class="primary-nav__item__logo" src="./assets/svgs/ban.svg" alt="Banlist" />
                    </div>
                    <h2 class="primary-nav__item__title">Banlist</h2>
                </a>
            </li>
            <li class="primary-nav__item">
                <a class="primary-nav__item__link" href="#">
                    <div>
                        <img class="primary-nav__item__logo" src="./assets/svgs/shopping-cart.svg" alt="Shop" />
                    </div>
                    <h2 class="primary-nav__item__title">Shop</h2>
                </a>
            </li>
            <li class="primary-nav__item">
                <a class="primary-nav__item__link" href="#">
                    <div>
                        <img class="primary-nav__item__logo" src="./assets/svgs/join.svg" alt="Join us" />
                    </div>
                    <h2 class="primary-nav__item__title">Join Us</h2>
                </a>
            </li>
        </ul>

        <ul class="secondary-nav">
            <li class="secondary-nav__item">
                <a class="secondary-nav__item__link" href="#">
                    <img class="secondary-nav__item__link__logo" src="./assets/svgs/discord.svg" alt="Discord" />
                    <h3 class="secondary-nav__item__link__title">Discord</h3>
                </a>
            </li>
            <li class="secondary-nav__item">
                <a class="secondary-nav__item__link" href="#">
                    <img class="secondary-nav__item__link__logo" src="./assets/svgs/discord.svg" alt="Discord" />
                    <h3 class="secondary-nav__item__link__title">Discord</h3>
                </a>
            </li>
            <li class="secondary-nav__item">
                <a class="secondary-nav__item__link" href="#">
                    <img class="secondary-nav__item__link__logo" src="./assets/svgs/discord.svg" alt="Discord" />
                    <h3 class="secondary-nav__item__link__title">Discord</h3>
                </a>
            </li>
        </ul>

        <a class="steam-login" href="#">
            <img src="./assets/background/steam.png" alt="Steam login" class="steam-login__logo" />
            <h4 class="steam-login__title">Steam login</h4>
        </a>
    </nav>

    <main class="main-content">
        <section class="welcome-section-wrapper">
            <div class="welcome-section">
                <h2 class="welcome-section__title">Vitaj na nasom portali</h2>
                <p class="welcome-section__desc">
                    We organize the most fun, fair, and empowering
                    League of Legends competitions for the amateur
                    and casual gamer. Join now to start competing
                    and crafting your way to pro.
                </p>
                <a class="button-link primary-link" href="#">Our servers</a>
                <a class="button-link ghost-link" href="#">Join us on Discord</a>
                <div class="welcome-section__placeholder"></div>
            </div>
        </section>
        <section class="how-section">
            <h2 class="how-section__title">How Templars work</h2>
            <p class="how-section__desc">Co nas specifikuje</p>
            <div class="how-section__card">
                <div class="card__logo-wrapper">
                    <img src="./assets/svgs/community.svg" alt="Community" />
                </div>
                <h3 class="card__title">Priatelska komunita</h3>
                <p class="card__desc">U nas si uzijes netoxicku komunitu</p>
            </div>
            <div class="how-section__card">
                <div class="card__logo-wrapper">
                    <img src="./assets/svgs/admin.svg" alt="Admin shield" />
                </div>
                <h3 class="card__title">Super admin tim</h3>
                <p class="card__desc">U nas si uzijes netoxicku komunitu</p>
            </div>
            <div class="how-section__card">
                <div class="card__logo-wrapper">
                    <img src="./assets/svgs/templar.svg" alt="Templar" />
                </div>
                <h3 class="card__title">Jedinecna skusenost</h3>
                <p class="card__desc">U nas si uzijes netoxicku komunitu</p>
            </div>
            <div class="how-section__card">
                <div class="card__logo-wrapper">
                    <img src="./assets/svgs/ban-hammer.svg" alt="Ban hammer" />
                </div>
                <h3 class="card__title">Top ban system</h3>
                <p class="card__desc">U nas si uzijes netoxicku komunitu</p>
            </div>

            <a class="button-link primary-link" href="#">Our servers</a>
            <a class="button-link ghost-link" href="#">Join us on Discord</a>
        </section>
    </main>
    <footer class="footer">
        <nav class="bottom-nav">
            <a class="bottom-nav__item" href="#">
                <img class="bottom-nav__item__logo" src="./assets/svgs/home.svg" alt="Home" />
                <h4 class="bottom-nav__item__title">Domov</h4>
            </a>
            <a class="bottom-nav__item" href="#">
                <img class="bottom-nav__item__logo" src="./assets/svgs/portal.svg" alt="Home" />
                <h4 class="bottom-nav__item__title">Portal</h4>
            </a>
            <a class="bottom-nav__item" href="#">
                <img class="bottom-nav__item__logo" src="./assets/svgs/shopping-cart.svg" alt="Home" />
                <h4 class="bottom-nav__item__title">Obchod</h4>
            </a>
            <a class="bottom-nav__item" href="#">
                <img class="bottom-nav__item__logo" src="./assets/svgs/user-profile.svg" alt="Home" />
                <h4 class="bottom-nav__item__title">Prihlasenie</h4>
            </a>
        </nav>
    </footer>
</body>
</html>