<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Roboto:wght@400;700;900&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/main.css" />

    <link rel="stylesheet" href="css/styles/header.css" />
    <link rel="stylesheet" href="css/styles/welcome.css" />

    <title>TemPLAY</title>
</head>
<body>
    <header class="main-header">
        <div class="logo-container">
            <img class="wtf" src="assets/svgs/helmet.svg" alt="Helmet logo" />
        </div>
        <h1 class="title"><span class="title__first">Tem</span>play</h1>
        <div class="hammenu-container">
            <img src="assets/svgs/hamburgerMenu.svg" alt="Hamburger menu" />
        </div>
    </header>
    <main>
        <section class="welcome-section-wrapper">
            <div class="welcome-section">
                <h2 class="welcome-section__title">Vitaj na nasom portali</h2>
                <p class="welcome-section__desc">
                    We organize the most fun, fair, and empowering
                    League of Legends competitions for the amateur
                    and casual gamer. Join now to start competing
                    and crafting your way to pro.
                </p>
                <a class="button-link primary-link" href="#">Our servers</a>
                <a class="button-link ghost-link" href="#">Join us on Discord</a>
                <div class="welcome-section__placeholder"></div>
            </div>
        </section>
    </main>
</body>
</html>