@import './colors.css';

:root {
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Jua', sans-serif;

  --header-height: 5em;
}

body {
  font-family: var(--primary-font-family);
  background: var(--primary-bg-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
