# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://user:password@ip:port/database_name?schema=public"

IP="localhost"
PORT="5000"

ACCESS_TOKEN_SECRET=random128bytes
REFRESH_TOKEN_SECRET=random128bytes

EMAIL_HOSTNAME=smtp.gmail.com
EMAIL_USERNAME=email@host.com
EMAIL_PASSWORD=SecretPasswordToEmail