<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Templar Banlist</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="banlist.html">Banlist</a></li>
                <li><a href="admins.html">Admins</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <a href="add-ban.html">Add Ban</a>
        <p>Datum a čas; Dlzka; Hráč</p>
        <a href="ban1.html">
            <span>
                26.11.2021 19:30
            </span>
            <span>
                1w
            </span>
            <span>
                SteamName1
            </span>
        </a>
        <br />
        <a href="ban2.html">
            <span>
                25.11.2021 19:30
            </span>
            <span>
                50m
            </span>
            <span>
                SteamName2
            </span>
        </a>
        <br />
        <a href="ban3.html">
            <span>
                24.10.2021 19:30
            </span>
            <span>
                Permanent
            </span>
            <span>
                SteamName3
            </span>
        </a>
    </main>
</body>
</html>