<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Martin Belko" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Permanent+Marker&family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">

    <!-- Own styles -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">

    <title>Templar</title>
</head>
<body>
    <header class="header">
        <div><img src="./assets/helmet.svg" alt="Helmet logo"></div>
        <h2 class="name"><span class="fancy-tem">Tem</span><span class="fancy-play">PLAY</span></h2>
        <div class="hamburger"><img src="./assets/hamburger.svg" alt="Hamburger toggle"></div>
    </header>
    <main class="main">
        <h1 class="main-slogan">Playing games was never so easy w/ Templars</h1>
        <nav class="nav">
            <ul class="nav__list">
                <li><a class="nav__link btn btn--primary" href="#">Servers</a></li>
                <li><a class="nav__link btn btn--outline" href="#">Shop</a></li>
            </ul>
        </nav>
        <section>
            <div class="secondary-section">
                <div class="templar-logo"><img src="./assets/templar.svg" alt="Templar logo" /></div>
                <h3 class="secondary-slogan">Something short and brief goes here</h3>
            </div>
            <p class="description">
                Here we can put something really really really long and boring,
                cuz nobody will ever read it anyways soooooo why even bother idk
                what anymore
            </p>
        </section>
    </main>
    <footer class="footer">
        <nav class="footer-nav">
            <ul class="footer-nav__list">
                <li><a class="footer-nav__link" href="#">
                    <img class="footer-nav__item-icon" src="./assets/login.svg" alt="Login" />
                    <span class="footer-nav__item-title">Sign In</span>
                </a></li>
                <li><a class="footer-nav__link" href="#">
                    <img class="footer-nav__item-icon" src="./assets/login.svg" alt="Login" />
                    <span class="footer-nav__item-title">Sign In</span>
                </a></li>
                <li><a class="footer-nav__link" href="#">
                    <img class="footer-nav__item-icon" src="./assets/login.svg" alt="Login" />
                    <span class="footer-nav__item-title">Sign In</span>
                </a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>