<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Martin Belko" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">

    <!-- Own styles -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">

    <title>Templar</title>
</head>
<body>
    <header class="header">
        <div class="main-logo"><img class="main-logo__icon" src="./assets/helmet.svg" alt="Helmet" /></div>
        <h2 class="title">Tem<span class="play">play</span></h2>
        <div class="hamburger"><img src="./assets/hamburger.svg" alt="Hamburger toggle"></div>
    </header>
    <main class="main">
        <h1 class="main-slogan">Playing games was never so easy w/ Templars</h1>
        <p>
            We organize the most fun, fair, and empowering League of Legends competitions for the amateur and casual gamer. Join now to start competing and crafting your way to pro.
        </p>
        <nav class="nav">
            <ul class="nav__list">
                <li><a class="nav__link btn btn--primary" href="#">Servers</a></li>
                <li><a class="nav__link btn btn--outline" href="#">Shop</a></li>
            </ul>
        </nav>
    </main>
</body>
</html>