<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Martin Belko" />
    <title>Templar</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="banlist.html">Banlist</a></li>
                <li><a href="admins.html">Admins</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>News</h1>
        <section>
            <p>Here is some update</p>
            <div>Here is some description</div>
        </section>
        <section>
            <p>Here is another update</p>
            <div>Here is another description</div>
        </section>
        <section>
            <p>Here is another boring update</p>
            <div>Boring description</div>
        </section>
    </main>
</body>
</html>